.DS_Store
*.hipo
geometry_source/**/*__geometry_*.txt
geometry_source/**/*__bank.txt
geometry_source/**/*__materials_*.txt
geometry_source/**/*__hit_*.txt
geometry_source/**/*__mirrors_*.txt
geometry_source/**/*__volumes_*.txt
bin/gemc
source/**/*.o
source/**/moc*.cc
geometry_source/coatjava*
geometry_source/coat-libs*
source/.sconsign.dblite
clas12.sqlite
.idea
experiments/clas12/bst/bst__parameters_rge_spring2024.txt
experiments/clas12/bst/bst__volumes_rge_spring2024.txt
experiments/clas12/micromegas/micromegas__parameters_rga_spring2018.txt
experiments/clas12/micromegas/micromegas__parameters_rgm_winter2021.txt
experiments/clas12/targets/cad_poltarg/README
geometry_source/alert/ahdc/ahdc__parameters_default.txt
geometry_source/alert/ahdc/ahdc__parameters_rga_fall2018.txt
geometry_source/alert/atof/atof__parameters_default.txt
geometry_source/alert/atof/atof__parameters_rga_fall2018.txt
geometry_source/bst/bst__parameters_default.txt
geometry_source/bst/bst__parameters_rge_spring2024.txt
geometry_source/ctof/cad/
geometry_source/ctof/cad_upstream/
geometry_source/ftof/ftof__parameters_default.txt
geometry_source/ftof/ftof__parameters_rga_spring2018.txt
geometry_source/ltcc/ltcc__parameters_original.txt
geometry_source/rich/cad/
