.DS_Store
*.hipo
geometry_source/**/*__geometry_*.txt
geometry_source/**/*__bank.txt
geometry_source/**/*__materials_*.txt
geometry_source/**/*__hit_*.txt
geometry_source/**/*__mirrors_*.txt
geometry_source/**/*__volumes_*.txt
source/**/*.o
source/**/moc*.cc
