name: Almalinux Build
permissions:
  contents: read
  pull-requests: write

  # Triggers the workflow on all pushes to main, all pull and merge requests
on:
  pull_request:
  merge_group:
  push:
    branches: [ main ]
    tags: [ '*' ]
    paths-ignore:
      - "**/*.md"
      - "release_notes/**"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-on-almalinux:
    runs-on: ubuntu-latest
    container: jeffersonlab/gemc:dev-almalinux94
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Fix Java Version
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'
      - name: Build Coatjava
        run: |
          cd ./geometry_source
          ./install_coatjava.sh -l
      - name: Build Gemc
        run: |
          ./ci/build_gemc.sh
          echo "github.event.head_commit.committer.name: ${{ github.event.head_commit.committer.name }}"
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gemc-almalinux
          path: |
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/bin
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/api
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/clas12.sqlite
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/experiments
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/gemc_build.log
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/geo_build.log
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/build_coatjava.log

