name: Almalinux Build
permissions:
  contents: read
  pull-requests: write

 # Triggers the workflow on all pushes to main, all pull and merge requests
on:
  pull_request:
  merge_request:
  push:
    branches: [ main ]
    tags: [ '*' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-on-almalinux:
    runs-on: ubuntu-latest
    container: jeffersonlab/gemc:dev-almalinux94

    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Build gemc
        run: |
          ./ci/build_gemc.sh
      - name: Copy gemc binary
        uses: actions/upload-artifact@v4
        with:
          name: gemc
          path: |
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/bin
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/api
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/experiments

