name: Fedora Build

 # Triggers the workflow on all pushes to main and all pull requests
on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ '*' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    container: jeffersonlab/gemc:dev-fedora36

    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Build gemc
        run: |
          ./ci/build_gemc.sh
      - name: Copy gemc binary
        uses: actions/upload-artifact@v4
        with:
          name: gemc
          path: |
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/bin
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/api
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/experiments
