name: Clas12-Config GCards Tests
permissions:
  contents: read
  pull-requests: write

# Triggers the workflow on all pushes to main and all pull requests
on:
  pull_request:
  merge_group:
  push:
    branches: [ main ]
    tags: [ '*' ]
    paths-ignore:
      - "**/*.md"
      - "release_notes/**"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Allows this workflow to be called by other workflows
  # Thus the checkout with repository: ${{ 'gemc/clas12Tags' }} is added
  workflow_call:
    inputs:
      branch:
        required: false
        type: string

jobs:
  detect-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Set effective branch
        id: vars
        run: |
          echo "BRANCH_NAME=${{ inputs.branch || github.ref_name }}" >> $GITHUB_OUTPUT

  generate-matrix:
    runs-on: ubuntu-latest
    container: jeffersonlab/gemc:dev-fedora36
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Creates list of gcards
        uses: actions/checkout@main
        with:
          repository: ${{ 'gemc/clas12Tags' }}
      - id: set-matrix
        run: |
          echo "Current Working Directory: $(pwd)"
          echo "Content: $(ls -l)"
          export JSON=$( ./ci/clas12-config-dev-gcard-list.sh )
          echo generate-matrix: $JSON
          echo "matrix=$( echo "$JSON" | tr -d '\n' )" >> $GITHUB_OUTPUT

  gcard-test:
    needs: generate-matrix
    runs-on: ubuntu-latest
    container: jeffersonlab/gemc:dev-almalinux94
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.generate-matrix.outputs.matrix)}}
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          repository: ${{ 'gemc/clas12Tags' }}
      - name: Fix Java Version
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'
      - name: Install Git LFS
        run: |
          dnf -y install git-lfs 
      - name: Build Coatjava
        run: |
          cd ./geometry_source
          git lfs install
          ./install_coatjava.sh -l
      - name: Build Gemc
        run: |
          ./ci/build_gemc.sh
      - name: ${{ matrix.gcard }} tests
        env:
          BRANCH_NAME: ${{ steps.vars.outputs.BRANCH_NAME }}
        run: |
          ./ci/clas12_config_gcards_test.sh -g ${{ matrix.gcard }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: buildlogs-${{ matrix.gcard }}
          path: |
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/gemc_build.log
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/geo_build.log
            /cvmfs/oasis.opensciencegrid.org/jlab/geant4/build_coatjava.log

  clas12-config-gcards-test-final:
    needs:
      - generate-matrix
      - gcard-test
    runs-on: ubuntu-latest
    steps:
      - name: fail
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'skipped') }}
        run: |
          echo "### Some tests failed." >> $GITHUB_STEP_SUMMARY
          exit 1
      - name: pass
        run: |
          echo "### All tests passed." >> $GITHUB_STEP_SUMMARY
          exit 0
