name: Detector Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on all pushes
  push:
    branches:
      - '*'
      - '!new_cad_import'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container: jeffersonlab/gemc:dev-almalinux94
    strategy:
      fail-fast: false
      matrix:
        detector:
          - targets
          - dc
    steps:
      - name: Checkout
        uses: actions/checkout@main
#      - name: Workflow Telemetry
#        uses: runforesight/workflow-telemetry-action@v2.0.0
      - name: ${{ matrix.detector }} test
        run: |
          ./ci/detectors_test.sh -d ${{ matrix.detector }}


