name: Valgrind
permissions:
  contents: read
  pull-requests: write

on:
  schedule:
    # every day at 1:10
    # clasdis takes 3 hours 10 minutes
    - cron: '10 1 * * *'


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Allows this workflow to be called by other workflows
  # Thus the checkout with repository: ${{ 'gemc/clas12Tags' }} is added
  workflow_call:
    inputs:
      branch:
        required: false
        type: string

jobs:
  detect-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Set effective branch
        id: vars
        run: |
          echo "BRANCH_NAME=${{ inputs.branch || github.ref_name }}" >> $GITHUB_OUTPUT


  ntracks-metrics:
    runs-on: ubuntu-latest
    container: jeffersonlab/gemc:dev-almalinux94
    strategy:
      fail-fast: false
      matrix:
        ntracks:
          - '03'
          - '05'
          - 'clasdis_all'

    # Skip this entire job if the commit was made by the merge queue bot
    if: github.event.head_commit.committer.name != 'github-merge-queue[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          repository: ${{ 'gemc/clas12Tags' }}
      - name: Build GEMC
        run: |
          ./ci/build_gemc.sh DEBUG
      - name: ${{ matrix.ntracks }} test
        env:
          BRANCH_NAME: ${{ steps.vars.outputs.BRANCH_NAME }}
        run: |
          yum install -y valgrind
          ./ci/profile_gemc.sh -g rga_spring2019.gcard -l ${{ matrix.ntracks }}
      - name: Upload logs
        uses: actions/upload-artifact@v4
        with:
          name: tracklogs-${{ matrix.ntracks }}
          path: /root/logs/

  ntracks-metrics-result:
    needs: ntracks-metrics
    runs-on: ubuntu-latest
    # Skip this entire job if the commit was made by the merge queue bot
    if: github.event.head_commit.committer.name != 'github-merge-queue[bot]'
    steps:
      - name: Collect logs
        uses: actions/download-artifact@v4
        with:
          pattern: tracklogs-*
      - name: Generate Table
        run: |
          cat */*tracks.log > ntracks.log
          echo "| N. Events | N tracks | Total Time | Time / event|" > Summary.md
          echo "|-----------|----------|------------|-------------|" >> Summary.md
          while read -r nevents ntracks time; do
            [[ -z $nevents || -z $ntracks || -z $time ]] && continue

            time1t=$(bc -l <<< "scale=4; $time / $nevents ")

            printf "| %9s | %8s | %10s | %22s |\n" "$nevents" "$ntracks" "$time" "$time1t"
          done < ntracks.log >> Summary.md
          cat Summary.md 
          cat Summary.md >> $GITHUB_STEP_SUMMARY
